//variable
$default-font-size: 16px;
//media custom
@media screen and (min-width: 0px) and (max-width: 992px) {
  .left-side {
    .left-side__search-button {
      .left-side__search {
        width: 100% !important;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .left-side {
    padding-right: 112px;
  }
}
//header style
#header {
  .row {
    .right-side {
      .right-side__text {
        font-size: $default-font-size - 3px;
        color: #aea9b1;
      }
    }
    .left-side {
      .left-side__search-button {
        display: flex;

        margin-top: 5px;
        .left-side__search {
          width: 70%;
          position: relative;
          .left-side__search-box {
            width: 100%;
            background-color: #f0f0f1;
            border: none;
            height: 35px;
            padding-right: 7px;
            font-size: 12px;
            border-radius: 7px;
          }
          .fa-search {
            color: #777777;
            font-size: 25px;
            left: 5px;
            top: 6px;
            position: absolute;
          }
        }
        .btn-primary {
          margin-right: 22px;
          font-size: 13px;
          .fa-arrow-left {
            padding-right: 2px;
            vertical-align: -2px;
            transition: margin-right 0.4s ease;
          }
        }
      }
    }
    #login {
      .right-side-text {
        color: #7c7c7c;
      }
      #email {
        background-color: #e8f0fe;
        border: none;
        border-radius: 5px;
        height: 30px;
        &:focus {
          outline: none;
        }
      }
      #password {
        background-color: #e8f0fe;
        border: none;
        border-radius: 5px;
        height: 30px;
        &:focus {
          outline: none;
        }
      }
      .remember-me {
        label {
          vertical-align: 4px;
        }
      }
      .not-robot {
        padding: 15px;
        background: #efefef;
        border-radius: 5px;
        border: 1px solid #d8d8d8;
        margin: 10px;
        #robot {
          transform: scale(2.3);
          border: 1px solid #7c7c7c;
          margin-right: 10px;
          margin-top: 5px;
        }
        label {
          margin-right: 10px;
          vertical-align: 5px;
        }
      }
      .forget-pass {
        a {
          color: #7c7c7c;
        }
      }
    }
  }
}
//menu-bar style
#menu-bar {
  .navbar-nav {
    font-size: $default-font-size - 3;
    .nav-item {
      .nav-link {
        transition: color 0.3s ease;
        &:hover {
          color: rgb(60, 142, 250) !important;
        }
      }
    }
  }
  .fa-shopping-cart {
    font-size: 25px;
    color: #777;
  }
}
//introduction-courses style
#introduction-courses {
  background-color: #f6f9fb;
  .row {
    .container {
      .row {
        .description {
          color: #6d6d6d;
          font-size: 14px;
          line-height: 30px;
        }
        .row {
          .cours-card {
            .cours-card__image {
              width: 400px;
              height: 300px;
            }
          }
        }
      }
    }
  }
}
//footer style
#footer {
  background-color: #f9f9f9;
  margin-top: 300px;
  .row {
    .container {
      .row {
        .right-side {
          .copy-right {
            span {
              color: #555;
            }
          }
          .social-icons {
            font-size: $default-font-size + 20px;
            color: #ccc;
            i {
              transition: color 0.3s ease;
              &:hover {
                color: rgb(29, 105, 247);
              }
            }
          }
          .footer-menu {
            a {
              color: #555;
              font-size: $default-font-size - 2px;
              transition: color 0.3s ease;
              &:hover {
                color: rgb(41, 145, 243);
              }
            }
          }
        }
        .left-side {
          background-color: #ececec;
          &::after {
            content: "";
            position: absolute;
            width: 1000px;
            height: 100%;
            top: 0;
            right: 100%;
            background-color: #ececec;
          }
          .description,
          .contact-us {
            color: #555;
            font-family: $default-font-size - 2px;
          }
          .image-footer img {
            width: 90px;
          }
        }
      }
    }
  }
}
//footer-1 style
#footer-1 {
  .row {
    .text {
      font-size: $default-font-size - 2px;
      color: #7c7c7c;
      .fa-heart {
        color: red;
      }
      .fa-coffee {
        color: burlywood;
      }
    }
  }
}
