@media screen and (min-width: 993px) {
  .blog-slider__image a {
    background-color: transparent !important;
  }
  .blog-slider__image a img {
    height: 400px !important;
  }
  .blog-slider__image a .blog-slider__image__logo {
    bottom: 345px !important;
  }
  .blog-slider__image a .blog-slider__image__caption {
    position: absolute !important;
    top: 290px !important;
    right: 30px !important;
    color: #fff !important;
  }
  .blog-slider__image a .blog-slider__image__title-date {
    position: absolute !important;
    top: 340px !important;
    right: 25px !important;
  }
  .blog-slider__image a .blog-slider__image__title-date span {
    color: #fff !important;
  }
  .blog-slide__options .blog-slide__options__item {
    background-color: transparent !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .search .search-box {
    margin-top: 150px !important;
  }
}

@media screen and (max-width: 993px) {
  .card-category__cards__parent__caption__title {
    font-size: 17px !important;
  }
}

#main-container {
  background-color: #eff4f4;
}

#main-container .header .header__right-side .header__right-side__logo img {
  width: 100px;
}

#main-container .header .header__right-side .header__right-side__options {
  margin-top: 3px;
}

#main-container .header .header__right-side .header__right-side__options .item {
  font-size: 20px;
  color: #495e74;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#main-container .header .header__right-side .header__right-side__options .item i {
  vertical-align: -2px;
  margin-right: 3px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#main-container .header .header__right-side .header__right-side__options .item:hover {
  color: #50afee;
}

#main-container .header .header__right-side .header__right-side__options .item:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#main-container .header .header__right-side .header__right-side__options .courses:hover .header__right-side .courses-menu {
  display: block !important;
}

#main-container .header .header__right-side .header__right-side__options .skills:hover + .skills-menu {
  display: block !important;
}

#main-container .header .header__right-side .header__right-side__dropdown button .button__logo .line-1,
#main-container .header .header__right-side .header__right-side__dropdown button .button__logo .line-2,
#main-container .header .header__right-side .header__right-side__dropdown button .button__logo .line-3 {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #778697;
  margin-top: 5px;
}

#main-container .header .header__right-side .header__right-side__dropdown button .button__text {
  margin-top: -2px;
  color: #778697;
  font-size: 20px;
}

#main-container .header .header__right-side .header__right-side__dropdown button::after {
  display: none;
}

#main-container .header .header__right-side .header__right-side__dropdown button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#main-container .header .header__left-side .header__left-side__search {
  border-radius: 10px;
  padding: 12px;
}

#main-container .header .header__left-side .header__left-side__search button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #495e74;
}

#main-container .header .header__left-side .header__left-side__search:hover {
  opacity: 0.7;
}

#main-container .header .header__left-side .header__left-side__text {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #495e74;
}

#main-container .header .header__left-side .header__left-side__text i {
  vertical-align: -4px;
}

#main-container .header .header__left-side .header__left-side__text:hover {
  opacity: 0.7;
}

#main-container .header .header__left-side .header__left-side__login-membership {
  background-color: #f2e2a8;
  border-radius: 10px;
  font-size: 18px;
}

#main-container .header .header__left-side .header__left-side__login-membership :nth-child(1) {
  padding: 11px;
  background-color: #f2e2a8;
  border-radius: 0 10px 10px 0;
}

#main-container .header .header__left-side .header__left-side__login-membership :nth-child(1):hover {
  opacity: 0.7;
}

#main-container .header .header__left-side .header__left-side__login-membership :nth-child(2) {
  padding: 11px;
  background-color: #f7c737;
  border-radius: 10px;
}

#main-container .header .header__left-side .header__left-side__login-membership :nth-child(2):hover {
  opacity: 0.7;
}

#main-container .header .courses-menu,
#main-container .header .skills-menu {
  left: 7px;
  top: 100px;
  background: #fff;
  border-radius: 15px;
  z-index: 100;
}

#main-container .header .courses-menu a,
#main-container .header .skills-menu a {
  border-radius: 10px;
  font-size: 20px;
  color: #495e74;
}

#main-container .header .courses-menu a:hover,
#main-container .header .skills-menu a:hover {
  background-color: #f5f1f1;
}

#main-container .blog-slider .blog-slider__image a {
  border-radius: 15px;
}

#main-container .blog-slider .blog-slider__image a img {
  border-radius: 25px;
}

#main-container .blog-slider .blog-slider__image a .blog-slider__image__logo {
  bottom: 265px;
  font-size: 25px;
}

#main-container .blog-slider .blog-slider__image a .blog-slider__image__caption {
  font-size: 20px;
  top: 110px;
}

#main-container .blog-slider .blog-slider__image a .blog-slider__image__title-date {
  font-size: 15px;
}

#main-container .blog-slider .blog-slider__image a:hover {
  opacity: 0.8;
}

#main-container .blog-slider .blog-slide__options .blog-slide__options__item {
  border-radius: 10px;
}

#main-container .blog-slider .blog-slide__options .blog-slide__options__item .blog-slide__options__item__title {
  font-size: 20px;
  color: #4d4949;
}

#main-container .blog-slider .blog-slide__options .blog-slide__options__item .blog-slide__options__item__title:hover {
  color: #2ad1ee;
}

#main-container .blog-slider .blog-slide__options .blog-slide__options__item .blog-slide__options__item__title-date {
  color: #7789a3;
}

#main-container .search .search-box input {
  border-radius: 10px;
  border: none;
}

#main-container .search .search-box input::-webkit-input-placeholder {
  color: #757575;
}

#main-container .search .search-box input:-ms-input-placeholder {
  color: #757575;
}

#main-container .search .search-box input::-ms-input-placeholder {
  color: #757575;
}

#main-container .search .search-box input::placeholder {
  color: #757575;
}

#main-container .search .search-box input:focus {
  outline: none;
}

#main-container .category-button button {
  border-radius: 15px;
}

#main-container .category-button button::after {
  display: none;
}

#main-container .category-button button:hover {
  opacity: 0.8;
}

#main-container .category-button button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#main-container .category-button .dropdown-menu {
  right: 33px;
}

#main-container .category-button .dropdown-menu .dropdown-item {
  color: #8d9aa8;
}

#main-container .category-button .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
  color: #3bc8f3;
}

#main-container .card-category .card-category__cards__parent .card-category__cards__parent__image img {
  border-radius: 15px;
}

#main-container .card-category .card-category__cards__parent .card-category__cards__parent__caption .card-category__cards__parent__caption__title {
  font-size: 24px;
  color: #1b1a1a;
}

#main-container .card-category .card-category__cards__parent .card-category__cards__parent__caption .card-category__cards__parent__caption__description,
#main-container .card-category .card-category__cards__parent .card-category__cards__parent__caption .card-category__cards__parent__caption__information {
  font-size: 15px;
  color: #a1a7b2;
}

#main-container .card-category .card-category__cards__parent:hover {
  opacity: 0.8;
}

#main-container .card-category .card-category__cards__parent:hover .card-category__cards__parent__caption__title {
  color: #3887ee;
}

#main-container .card-category .card-category__cards__button button {
  font-size: 20px;
  border-radius: 15px;
}

#main-container .card-category .card-category__cards__button button i {
  vertical-align: -5px;
}

#main-container .card-category .card-category__category .card-category__category__parent {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 58px;
  padding-right: 185px;
}

#main-container .card-category .card-category__category .card-category__category__parent .card-category__category__parent__title {
  font-size: 17px;
}

#main-container .card-category .card-category__category .card-category__category__parent .card-category__category__parent__item {
  color: #bababa;
}

#main-container .card-category .card-category__category .card-category__category__parent .card-category__category__parent__item:hover {
  color: #3ab5ee;
}

#main-container .footer {
  background-color: #fff;
  margin-top: 300px;
}

#main-container .footer .footer__content .footer__content__items {
  margin-top: 80px;
}

#main-container .footer .footer__content .footer__content__items img {
  width: 40px;
  height: 40px;
}

#main-container .footer .footer__content .footer__content__items .item {
  font-size: 20px;
}

#main-container .footer .footer__content .footer__content__description {
  color: #6072a3;
  font-size: 17px;
  line-height: 45px;
}

#main-container .footer .footer__content .footer__content__information .footer__content__information__phone span,
#main-container .footer .footer__content .footer__content__information .footer__content__information__phone a,
#main-container .footer .footer__content .footer__content__information .footer__content__information__telegram span,
#main-container .footer .footer__content .footer__content__information .footer__content__information__telegram a {
  font-size: 20px;
}

#main-container .footer .footer__content .footer__content__information .footer__content__information__phone a:hover,
#main-container .footer .footer__content .footer__content__information .footer__content__information__telegram a:hover {
  color: #2fabf3 !important;
}

#main-container .footer .footer__content .footer__content__icons i {
  font-size: 40px;
}

#main-container .footer .footer__content .footer__content__icons i:hover {
  color: #1fb1eb;
}

#main-container .footer .footer__content .footer__content__pictures {
  margin-top: 30px;
}

#main-container .footer .footer__content .footer__content__pictures .footer__content__pictures__item {
  background-color: #e1ebf0;
  border-radius: 15px;
}
/*# sourceMappingURL=knowledge-base.css.map */