@media screen and (min-width: 0px) and (max-width: 992px) {
  .left-side .left-side__search-button .left-side__search {
    width: 100% !important;
  }
}

@media screen and (min-width: 1200px) {
  .left-side {
    padding-right: 112px;
  }
}

@media screen and (min-width: 0px) and (max-width: 974px) {
  .page-title__text {
    font-size: 17px !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 974px) {
  .question-answer__tab-pane .options {
    border: none !important;
  }
  .question-answer__tab-pane .options a {
    border: 1px solid #34b6f1;
    border-radius: 5px;
    margin: 9px;
    font-size: 15px;
  }
  .question__right-side {
    width: 100%;
    display: block !important;
  }
  .question__right-side .question__count-answer {
    background-color: transparent !important;
  }
  .question__right-side .question__count-answer .question__answer-parent {
    display: inline !important;
  }
  .question__right-side .question__count-visit {
    background-color: transparent !important;
  }
  .question__right-side .question__count-visit .question__visit-parent {
    display: inline !important;
  }
  .question__right-side .question__answer-visit {
    width: 100%;
    display: block;
  }
  .question__right-side .question__title {
    display: block;
    margin-right: 18px !important;
    margin-top: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .skills-list {
    display: block !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 557px) {
  .question-answer__nav-tabs {
    display: none;
  }
  .question-answer__nav-tabs-button {
    display: block !important;
  }
  .question-answer__nav-tabs-button:focus {
    border: 2px solid #000;
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}

#header .row .right-side .right-side__text {
  font-size: 13px;
  color: #aea9b1;
}

#header .row .left-side .left-side__search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

#header .row .left-side .left-side__search-button .left-side__search {
  width: 70%;
  position: relative;
}

#header .row .left-side .left-side__search-button .left-side__search .left-side__search-box {
  width: 100%;
  background-color: #f0f0f1;
  border: none;
  height: 35px;
  padding-right: 7px;
  font-size: 12px;
  border-radius: 7px;
}

#header .row .left-side .left-side__search-button .left-side__search .fa-search {
  color: #777777;
  font-size: 25px;
  left: 5px;
  top: 6px;
  position: absolute;
}

#header .row .left-side .left-side__search-button .btn-primary {
  margin-right: 22px;
  font-size: 13px;
}

#header .row .left-side .left-side__search-button .btn-primary .fa-arrow-left {
  padding-right: 2px;
  vertical-align: -2px;
  -webkit-transition: margin-right 0.4s ease;
  transition: margin-right 0.4s ease;
}

#header .row #login .right-side-text {
  color: #7c7c7c;
}

#header .row #login #email {
  background-color: #e8f0fe;
  border: none;
  border-radius: 5px;
  height: 30px;
}

#header .row #login #email:focus {
  outline: none;
}

#header .row #login #password {
  background-color: #e8f0fe;
  border: none;
  border-radius: 5px;
  height: 30px;
}

#header .row #login #password:focus {
  outline: none;
}

#header .row #login .remember-me label {
  vertical-align: 4px;
}

#header .row #login .not-robot {
  padding: 15px;
  background: #efefef;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  margin: 10px;
}

#header .row #login .not-robot #robot {
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
  border: 1px solid #7c7c7c;
  margin-right: 10px;
  margin-top: 5px;
}

#header .row #login .not-robot label {
  margin-right: 10px;
  vertical-align: 5px;
}

#header .row #login .forget-pass a {
  color: #7c7c7c;
}

#menu-bar .navbar-nav {
  font-size: 13px;
}

#menu-bar .navbar-nav .nav-item .nav-link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menu-bar .navbar-nav .nav-item .nav-link:hover {
  color: #3c8efa !important;
}

#menu-bar .fa-shopping-cart {
  font-size: 25px;
  color: #777;
}

#main-container {
  background-color: #f6f9fb;
}

#main-container #question-answer .question-answer__title h2 {
  color: #007bec;
}

#main-container #question-answer .question-answer__title p {
  color: #212529;
  font-size: 13px;
}

#main-container #question-answer .skills-list {
  display: none;
}

#main-container #question-answer .skills-list .skills-list__button .skills-list__button-text {
  vertical-align: 6px;
}

#main-container #question-answer .skills-list .skills-list__button .logo {
  margin-left: 10px;
}

#main-container #question-answer .skills-list .skills-list__button .logo .line-1,
#main-container #question-answer .skills-list .skills-list__button .logo .line-2,
#main-container #question-answer .skills-list .skills-list__button .logo .line-3 {
  width: 20px;
  display: block;
  background-color: #fff;
  height: 3px;
  margin-top: 5px;
}

#main-container #question-answer .skills-list .skills-list__button:after {
  display: none;
}

#main-container #question-answer .skills-list .dropdown-menu {
  right: 48px !important;
}

#main-container #question-answer .skills-list .dropdown-menu .dropdown-item .skills__circle {
  width: 5px;
  height: 5px;
  background: #007bec;
  display: inline-block;
  border-radius: 100%;
}

#main-container #question-answer .skills-list .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
}

#main-container #question-answer .question-answer__search-box input {
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: none;
}

#main-container #question-answer .question-answer__nav-tabs {
  direction: ltr;
}

#main-container #question-answer .question-answer__nav-tabs .active {
  border-bottom: 2px solid blue !important;
}

#main-container #question-answer .question-answer__nav-tabs .active:focus {
  border-bottom: 2px solid #2484f1;
}

#main-container #question-answer .tab-content .question-answer__tab-pane .options a {
  border-left: 1px solid blue;
  margin-right: -5px;
}

#main-container #question-answer .tab-content .question-answer__tab-pane .options a:hover {
  background-color: #3386f1;
  color: #fff;
}

#main-container #question-answer .tab-content .question-answer__tab-pane .options a:nth-child(4) {
  border-left: none;
}

#main-container #question-answer .question-answer__tab-pane .question .question__information {
  left: 10px;
  bottom: -13px;
  font-size: 13px;
}

#main-container #question-answer .question-answer__tab-pane .question::after {
  content: "";
  position: absolute;
  bottom: -20px;
  text-align: center;
  width: 97%;
  height: 1px;
  margin: 0 auto;
  background-color: #eee;
}

#main-container #question-answer .question-answer__tab-pane :nth-last-child(1)::after {
  display: none;
}

#main-container #question-answer .pagination {
  margin-top: 150px;
}

#main-container #question-answer .pagination li a {
  background-color: transparent;
  color: #212130;
  border: none;
}

#main-container #question-answer .pagination li a:focus {
  background-color: #4fb9f7;
  border: none;
  outline: none;
  color: #fff;
}

#main-container #question-answer .pagination li a:hover {
  color: #4fb9f7;
}

#main-container #question-answer .skills {
  margin-top: 162px;
  height: 485px;
}

#main-container #question-answer .skills .skills__circle {
  width: 5px;
  height: 5px;
  background: #007bec;
  display: inline-block;
  border-radius: 100%;
}

#footer {
  background-color: #f9f9f9;
  margin-top: 150px;
}

#footer .row .container .row .right-side .copy-right span {
  color: #555;
}

#footer .row .container .row .right-side .social-icons {
  font-size: 36px;
  color: #ccc;
}

#footer .row .container .row .right-side .social-icons i {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#footer .row .container .row .right-side .social-icons i:hover {
  color: #1d69f7;
}

#footer .row .container .row .right-side .footer-menu a {
  color: #555;
  font-size: 14px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#footer .row .container .row .right-side .footer-menu a:hover {
  color: #2991f3;
}

#footer .row .container .row .left-side {
  background-color: #ececec;
}

#footer .row .container .row .left-side::after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 100%;
  top: 0;
  right: 100%;
  background-color: #ececec;
}

#footer .row .container .row .left-side .description,
#footer .row .container .row .left-side .contact-us {
  color: #555;
  font-family: 14px;
}

#footer .row .container .row .left-side .image-footer img {
  width: 90px;
}

#footer-1 .row .text {
  font-size: 14px;
  color: #7c7c7c;
}

#footer-1 .row .text .fa-heart {
  color: red;
}

#footer-1 .row .text .fa-coffee {
  color: burlywood;
}
/*# sourceMappingURL=question-answer.css.map */